    <div class="min-h-full  mt-4 rounded overflow-hidden shadow-2xl relative">
        <h3 class="mt-8 text-2xl font-bold mb-10 text-center">Every great story is shaped by the people in it. <br>
            These are their reflections on my shared path.</h3>
        <div class="mt-8"></div>
        <div>
                {{ $content := readFile "content/english/reviews/_index.md" }}
                {{ $rendered := $content | markdownify }}
                {{ $rendered }}
        </div>
    </div>
